*
  margin: 0
  padding: 0
  box-sizing: border-box

html
  font-size: 62.5%
  font-family: "Noto Sans", sans-serif
  @media (max-width: 600px)
    font-size: 50%
  background: rgba(#3A3A3A, .04)

.container
  padding: 5rem 12rem
  font-size: 2.2rem
  @media (max-width: 1000px)
    padding: 5rem 8rem
  @media (max-width: 500px)
    padding: 2rem


.result
  font-size: 2.2rem
  color: #101828
  font-weight: 600

.repos
  display: grid
  grid-template-columns: repeat(auto-fill, minmax(30rem, 1fr))
  grid-gap: 2.4rem
  margin-bottom: 3rem

.pagination
  display: flex
  justify-content: center
  align-items: center

.pages
  margin-right: 2.4rem
  font-size: 2rem

.button_colored
  border: none
  background: #D44333
  padding: 1rem 2rem
  border-radius: 1.2rem
  color: white
  cursor: pointer
  transition: all .3s ease
  font-size: 1.6rem
  &:not(:last-child)
    margin-right: 2.4rem
  &:hover
    transform: translateY(-.1rem)
    background: #c93e2f
  &:active
    transform: translateY(.1rem)
  &:disabled
    background: #b7b7b7
    color: #101828
    cursor: auto
    transform: none

